/* ==UserStyle==

@name           Github Catppuccin LESS
@namespace      github.com/catppuccin/github
@version        2.0.0
@description    Soothing pastel theme for GitHub
@author         Catppuccin
@updateURL      https://github.com/catppuccin/github/raw/main/catppuccin.user.css

@preprocessor   less
@var select lightFlavour "Light Flavour" ["latte:Latte*", "frappe:Frappé", "macchiato:Macchiato", "mocha:Mocha"]
@var select darkFlavour "Dark Flavour" ["latte:Latte", "frappe:Frappé", "macchiato:Macchiato", "mocha:Mocha*"]
@var select accentColour "Accent Colour" [ "rosewater:Rosewater", "flamingo:Flamingo", "pink:Pink", "mauve:Mauve*", "red:Red", "maroon:Maroon", "peach:Peach", "yellow:Yellow", "green:Green", "teal:Teal", "blue:Blue", "sapphire:Sapphire", "sky:Sky", "lavender:Lavender", "subtext0:Grey" ]
@var checkbox accentedTopbar "Darker Topbar" 1

==/UserStyle== */
@-moz-document regexp("https:\/\/(gist\.)*github\.com(?!\/(marketplace|organizations\/plan)).*") {

  @catppuccin: {
    @latte:     { @rosewater: #dc8a78; @flamingo: #dd7878; @pink: #ea76cb; @mauve: #8839ef; @red: #d20f39; @maroon: #e64553; @peach: #fe640b; @yellow: #df8e1d; @green: #40a02b; @teal: #179299; @sky: #04a5e5; @sapphire: #209fb5; @blue: #1e66f5; @lavender: #7287fd; @text: #4c4f69; @subtext1: #5c5f77; @subtext0: #6c6f85; @overlay2: #7c7f93; @overlay1: #8c8fa1; @overlay0: #9ca0b0; @surface2: #acb0be; @surface1: #bcc0cc; @surface0: #ccd0da; @base: #eff1f5; @mantle: #e6e9ef; @crust: #dce0e8; }
    @frappe:    { @rosewater: #f2d5cf; @flamingo: #eebebe; @pink: #f4b8e4; @mauve: #ca9ee6; @red: #e78284; @maroon: #ea999c; @peach: #ef9f76; @yellow: #e5c890; @green: #a6d189; @teal: #81c8be; @sky: #99d1db; @sapphire: #85c1dc; @blue: #8caaee; @lavender: #babbf1; @text: #c6d0f5; @subtext1: #b5bfe2; @subtext0: #a5adce; @overlay2: #949cbb; @overlay1: #838ba7; @overlay0: #737994; @surface2: #626880; @surface1: #51576d; @surface0: #414559; @base: #303446; @mantle: #292c3c; @crust: #232634; }
    @macchiato: { @rosewater: #f4dbd6; @flamingo: #f0c6c6; @pink: #f5bde6; @mauve: #c6a0f6; @red: #ed8796; @maroon: #ee99a0; @peach: #f5a97f; @yellow: #eed49f; @green: #a6da95; @teal: #8bd5ca; @sky: #91d7e3; @sapphire: #7dc4e4; @blue: #8aadf4; @lavender: #b7bdf8; @text: #cad3f5; @subtext1: #b8c0e0; @subtext0: #a5adcb; @overlay2: #939ab7; @overlay1: #8087a2; @overlay0: #6e738d; @surface2: #5b6078; @surface1: #494d64; @surface0: #363a4f; @base: #24273a; @mantle: #1e2030; @crust: #181926; }
    @mocha:     { @rosewater: #f5e0dc; @flamingo: #f2cdcd; @pink: #f5c2e7; @mauve: #cba6f7; @red: #f38ba8; @maroon: #eba0ac; @peach: #fab387; @yellow: #f9e2af; @green: #a6e3a1; @teal: #94e2d5; @sky: #89dceb; @sapphire: #74c7ec; @blue: #89b4fa; @lavender: #b4befe; @text: #cdd6f4; @subtext1: #bac2de; @subtext0: #a6adc8; @overlay2: #9399b2; @overlay1: #7f849c; @overlay0: #6c7086; @surface2: #585b70; @surface1: #45475a; @surface0: #313244; @base: #1e1e2e; @mantle: #181825; @crust: #11111b; }
  }



  #catppuccin(@lookup, @accentColour) {

    /* reassign variables for convenience */
    @rosewater: @catppuccin[@@lookup][@rosewater]; @flamingo: @catppuccin[@@lookup][@flamingo]; @pink: @catppuccin[@@lookup][@pink]; @mauve: @catppuccin[@@lookup][@mauve]; @red: @catppuccin[@@lookup][@red]; @maroon: @catppuccin[@@lookup][@maroon]; @peach: @catppuccin[@@lookup][@peach]; @yellow: @catppuccin[@@lookup][@yellow]; @green: @catppuccin[@@lookup][@green]; @teal: @catppuccin[@@lookup][@teal]; @sky: @catppuccin[@@lookup][@sky]; @sapphire: @catppuccin[@@lookup][@sapphire]; @blue: @catppuccin[@@lookup][@blue]; @lavender: @catppuccin[@@lookup][@lavender]; @text: @catppuccin[@@lookup][@text]; @subtext1: @catppuccin[@@lookup][@subtext1]; @subtext0: @catppuccin[@@lookup][@subtext0]; @overlay2: @catppuccin[@@lookup][@overlay2]; @overlay1: @catppuccin[@@lookup][@overlay1]; @overlay0: @catppuccin[@@lookup][@overlay0]; @surface2: @catppuccin[@@lookup][@surface2]; @surface1: @catppuccin[@@lookup][@surface1]; @surface0: @catppuccin[@@lookup][@surface0]; @base: @catppuccin[@@lookup][@base]; @mantle: @catppuccin[@@lookup][@mantle]; @crust: @catppuccin[@@lookup][@crust];
    @accent: @catppuccin[@@lookup][@@accentColour];
    @shadow: fade(@crust, 20);
    @text-inverted: @base;

    & when (@lookup = latte) {
      @shadow: fade(@text, 35);
      @text-inverted: @crust;
    }



    &, & body {

      --color-canvas-default-transparent: fade(@crust, 0);
      --color-page-header-bg: @base;
      --color-marketing-icon-primary: @sky;
      --color-marketing-icon-secondary: @blue;

      --color-search-keyword-hl: fade(@peach, 40);

      --color-diff-blob-addition-num-text: @text;
      --color-diff-blob-addition-fg: @text;
      --color-diff-blob-addition-num-bg: fade(@green, 30);
      --color-diff-blob-addition-line-bg: fade(@green, 15);
      --color-diff-blob-addition-word-bg: fade(@green, 30);
      --color-diff-blob-deletion-num-text: @text;
      --color-diff-blob-deletion-fg: @text;
      --color-diff-blob-deletion-num-bg: fade(@red, 30);
      --color-diff-blob-deletion-line-bg: fade(@red, 15);
      --color-diff-blob-deletion-word-bg: fade(@red, 30);
      --color-diff-blob-hunk-num-bg: fade(@blue, 40);
      --color-diff-blob-expander-icon: #f0f;
      --color-diff-blob-selected-line-highlight-mix-blend-mode: screen;
      --color-diffstat-deletion-border: fade(@text, 10);
      --color-diffstat-addition-border: fade(@text, 10);
      --color-diffstat-addition-bg: @green;

      --color-prettylights-syntax-comment: @overlay1;
      --color-prettylights-syntax-constant: @blue;
      --color-prettylights-syntax-entity: @blue;
      --color-prettylights-syntax-storage-modifier-import: @peach;
      --color-prettylights-syntax-entity-tag: @teal;
      --color-prettylights-syntax-keyword: @pink;
      --color-prettylights-syntax-string: @green;
      --color-prettylights-syntax-variable: @peach;
      --color-prettylights-syntax-brackethighlighter-unmatched: #f0f;
      --color-prettylights-syntax-invalid-illegal-text: @red;
      --color-prettylights-syntax-invalid-illegal-bg: fade(@red, 15);
      --color-prettylights-syntax-carriage-return-text: #f0f;
      --color-prettylights-syntax-carriage-return-bg: #f0f;
      --color-prettylights-syntax-string-regexp: #f0f;
      --color-prettylights-syntax-markup-list: #f0f;
      --color-prettylights-syntax-markup-heading: @teal;
      --color-prettylights-syntax-markup-italic: @yellow;
      --color-prettylights-syntax-markup-bold: @yellow;
      --color-prettylights-syntax-markup-deleted-text: @text;
      --color-prettylights-syntax-markup-deleted-bg: fade(@red, 40);
      --color-prettylights-syntax-markup-inserted-text: @text;
      --color-prettylights-syntax-markup-inserted-bg: fade(@green, 40);
      --color-prettylights-syntax-markup-changed-text: @text;
      --color-prettylights-syntax-markup-changed-bg: fade(@yellow, 40);
      --color-prettylights-syntax-markup-ignored-text: @text;
      --color-prettylights-syntax-markup-ignored-bg: #f0f;
      --color-prettylights-syntax-meta-diff-range: @mauve;
      --color-prettylights-syntax-brackethighlighter-angle: #f0f;
      --color-prettylights-syntax-sublimelinter-gutter-mark: #f0f;
      --color-prettylights-syntax-constant-other-reference-link: #f0f;

      --color-codemirror-text: @text;
      --color-codemirror-bg: @base;
      --color-codemirror-gutters-bg: @base;
      --color-codemirror-guttermarker-text: @base;
      --color-codemirror-guttermarker-subtle-text: @overlay1;
      --color-codemirror-linenumber-text: @overlay1;
      --color-codemirror-cursor: @subtext1;
      --color-codemirror-selection-bg: fade(@surface2, 50);
      --color-codemirror-activeline-bg: fade(@accent, 20);
      --color-codemirror-matchingbracket-text: @overlay1;
      --color-codemirror-lines-bg: @base;
      --color-codemirror-syntax-comment: @overlay0;
      --color-codemirror-syntax-constant: @peach;
      --color-codemirror-syntax-entity: @blue;
      --color-codemirror-syntax-keyword: @mauve;
      --color-codemirror-syntax-storage: @rosewater;
      --color-codemirror-syntax-string: @green;
      --color-codemirror-syntax-support: @sky;
      --color-codemirror-syntax-variable: @peach;

      --color-checks-bg: @mantle;
      --color-checks-run-border-width: 1px;
      --color-checks-container-border-width: 1px;
      --color-checks-text-primary: @text;
      --color-checks-text-secondary: @subtext1;
      --color-checks-text-link: @accent;
      --color-checks-btn-icon: @text;
      --color-checks-btn-hover-icon: @text;
      --color-checks-btn-hover-bg: @crust;
      --color-checks-input-text: @surface1;
      --color-checks-input-placeholder-text: @subtext1;
      --color-checks-input-focus-text: @text;
      --color-checks-input-bg: @surface0;
      --color-checks-input-shadow: 0 0 0 1px;
      --color-checks-donut-error: @red;
      --color-checks-donut-pending: @peach;
      --color-checks-donut-success: @green;
      --color-checks-donut-neutral: @overlay2;
      --color-checks-dropdown-text: @text;
      --color-checks-dropdown-bg: @surface0;
      --color-checks-dropdown-border: @surface1;
      --color-checks-dropdown-shadow: @shadow;
      --color-checks-dropdown-hover-text: @subtext0;
      --color-checks-dropdown-hover-bg: @mantle;
      --color-checks-dropdown-btn-hover-text: @text;
      --color-checks-dropdown-btn-hover-bg: @mantle;
      --color-checks-scrollbar-thumb-bg: @mantle;
      --color-checks-header-label-text: @text;
      --color-checks-header-label-open-text: @accent;
      --color-checks-header-border: @surface0;
      --color-checks-header-icon: @text;
      --color-checks-line-text: @subtext1;
      --color-checks-line-num-text: @subtext1;
      --color-checks-line-timestamp-text: @subtext1;
      --color-checks-line-hover-bg: @surface0;
      --color-checks-line-selected-bg: fade(@surface2, 50);
      --color-checks-line-selected-num-text: @subtext1;
      --color-checks-line-dt-fm-text: #f0f;
      --color-checks-line-dt-fm-bg: #f0f;
      --color-checks-gate-bg: fade(@yellow, 15);
      --color-checks-gate-text: @text;
      --color-checks-gate-waiting-text: @yellow;
      --color-checks-step-header-open-bg: @surface0;
      --color-checks-step-error-text: @maroon;
      --color-checks-step-warning-text: @peach;
      --color-checks-logline-text: @text;
      --color-checks-logline-num-text: @text;
      --color-checks-logline-debug-text: @mauve;
      --color-checks-logline-error-text: @text;
      --color-checks-logline-error-num-text: @maroon;
      --color-checks-logline-error-bg: fade(@maroon, 15);
      --color-checks-logline-warning-text: @subtext1;
      --color-checks-logline-warning-num-text: @peach;
      --color-checks-logline-warning-bg: fade(@peach, 15);
      --color-checks-logline-command-text: @blue;
      --color-checks-logline-section-text: @green;
      & when not (@lookup = latte) {
        --color-checks-ansi-black: @surface1;
        --color-checks-ansi-black-bright: @surface2;
        --color-checks-ansi-white: @subtext1;
        --color-checks-ansi-white-bright: @subtext0;
      }
      & when (@lookup = latte) {
        --color-checks-ansi-black: @subtext1;
        --color-checks-ansi-black-bright: @subtext0;
        --color-checks-ansi-white: @surface2;
        --color-checks-ansi-white-bright: @surface1;
      }
      --color-checks-ansi-gray: #f0f;
      --color-checks-ansi-red: @red;
      --color-checks-ansi-red-bright: @red;
      --color-checks-ansi-green: @green;
      --color-checks-ansi-green-bright: @green;
      --color-checks-ansi-yellow: @yellow;
      --color-checks-ansi-yellow-bright: @yellow;
      --color-checks-ansi-blue: @blue;
      --color-checks-ansi-blue-bright: @blue;
      --color-checks-ansi-magenta: @pink;
      --color-checks-ansi-magenta-bright: @pink;
      --color-checks-ansi-cyan: @teal;
      --color-checks-ansi-cyan-bright: @teal;

      --color-project-header-bg: @crust;
      --color-project-sidebar-bg: @mantle;
      --color-project-gradient-in: @mantle;
      --color-project-gradient-out: fade(@base, 0);

      --color-header-text: @subtext1;
      & when (@accentedTopbar = 0) {
        --color-header-bg: @base;
      }
      & when (@accentedTopbar = 1) {
        --color-header-bg: @mantle;
      }
      --color-header-divider: @crust;
      --color-header-logo: @text;
      --color-header-search-bg: @surface0;
      --color-header-search-border: @surface1;
      --color-sidenav-selected-bg: @surface1;
      --color-menu-bg-active: @surface1;
      --color-input-disabled-bg: fade(@base, 0);
      --color-timeline-badge-bg:  @surface0;

      --color-btn-text:  @text;
      --color-btn-bg:  @surface0;
      --color-btn-border: fade(@surface0, 0);
      --color-btn-shadow: 0 0 fade(@shadow, 0);
      --color-btn-inset-shadow: 0 0 fade(@shadow, 0);
      --color-btn-hover-bg:  @surface1;
      --color-btn-hover-border: fade(@surface1, 0);
      --color-btn-active-bg:  @surface2;
      --color-btn-active-border: fade(@surface2, 0);
      --color-btn-selected-bg: @surface2;
      --color-btn-focus-bg: @surface2;
      --color-btn-focus-border: fade(@surface2, 0);
      --color-btn-focus-shadow: 0 0 0 3px @shadow;
      --color-btn-shadow-active: inset 0 0.15em 0.3em fade(@shadow, 0);
      --color-btn-shadow-input-focus: 0 0 0 0.2em fade(@shadow, 0);
      --color-btn-counter-bg: @surface2;

      --color-btn-primary-text: @text-inverted;
      --color-btn-primary-bg:  @accent;
      --color-btn-primary-border: fade(@accent, 0);
      --color-btn-primary-shadow: 0 0 fade(@accent, 0);
      --color-btn-primary-inset-shadow: 0 0 fade(@accent, 0);
      --color-btn-primary-hover-bg: softlight(@accent, @text);
      --color-btn-primary-hover-border: softlight(@accent, @text);
      --color-btn-primary-selected-bg: softlight(@accent, @text);
      --color-btn-primary-selected-shadow: 0 0 fade(@accent, 0);
      --color-btn-primary-disabled-text: @crust;
      --color-btn-primary-disabled-bg: hardlight(@accent, @base);
      --color-btn-primary-disabled-border: fade(hardlight(@accent, @base), 0);
      --color-btn-primary-focus-bg: softlight(@accent, @text);
      --color-btn-primary-focus-border: softlight(@accent, @text);
      --color-btn-primary-focus-shadow: 0 0 0 3px fade(@shadow, 0);
      --color-btn-primary-icon: @text-inverted;
      --color-btn-primary-counter-bg: lighten(softlight(@accent, @text), 10);

      --color-btn-outline-text: @subtext1;
      --color-btn-outline-hover-text: @text;
      --color-btn-outline-hover-bg: @surface0;
      --color-btn-outline-hover-border: fade(@surface0, 0);
      --color-btn-outline-hover-shadow: 0 1px 0 fade(@shadow, 0);
      --color-btn-outline-hover-inset-shadow: inset 0 1px 0 fade(@shadow, 0);
      --color-btn-outline-hover-counter-bg: @surface2;
      --color-btn-outline-selected-text: @text;
      --color-btn-outline-selected-bg: @surface2;
      --color-btn-outline-selected-border: fade(@surface2, 0);
      --color-btn-outline-selected-shadow: 0 0 fade(@shadow, 0);
      --color-btn-outline-disabled-text: @subtext0;
      --color-btn-outline-disabled-bg: @mantle;
      --color-btn-outline-disabled-counter-bg: @crust;
      --color-btn-outline-focus-border: fade(@surface2, 0);
      --color-btn-outline-focus-shadow: 0 0 0 3px fade(@shadow, 0);
      --color-btn-outline-counter-bg: @surface0;

      --color-btn-danger-text: @text-inverted;
      --color-btn-danger-bg: @red;
      --color-btn-danger-hover-text: @text-inverted;
      --color-btn-danger-hover-bg: softlight(@red, @text);
      --color-btn-danger-hover-border: fade(@red, 0);
      --color-btn-danger-hover-shadow: 0 0 fade(@shadow, 0);
      --color-btn-danger-hover-inset-shadow: 0 0 fade(@shadow, 0);
      --color-btn-danger-hover-icon: @text-inverted;
      --color-btn-danger-hover-counter-bg: lighten(softlight(@red, @text), 10);
      --color-btn-danger-selected-text: @base;
      --color-btn-danger-selected-bg: softlight(@red, @text);
      --color-btn-danger-selected-border: fade(@red, 0);
      --color-btn-danger-selected-shadow: 0 0 fade(@shadow, 0);
      --color-btn-danger-disabled-text: @overlay0;
      --color-btn-danger-disabled-bg: hardlight(@red, @base);
      --color-btn-danger-disabled-counter-bg: lighten(hardlight(@red, @base), 10);
      --color-btn-danger-focus-border: @red;
      --color-btn-danger-focus-shadow: 0 0 0 3px fade(@shadow, 0);
      --color-btn-danger-counter-bg: softlight(@red, @text);
      --color-btn-danger-icon: @text-inverted;

      --color-fg-default: @text;
      --color-fg-muted: @subtext1;
      --color-fg-subtle: @subtext1;
      --color-fg-on-emphasis: @base;

      --color-canvas-default: @base;
      --color-canvas-overlay: @mantle;
      --color-canvas-inset: @surface0;
      --color-canvas-subtle: @mantle;

      --color-border-default: @surface1;
      --color-border-muted: @surface0;
      --color-border-subtle: fade(@text, 10);

      --color-shadow-small: 0 0 fade(@shadow, 0);
      --color-shadow-medium: 0 3px 6px @shadow;
      --color-shadow-large: 0 8px 24px @shadow;
      --color-shadow-extra-large: 0 12px 48px @shadow;

      --color-neutral-emphasis-plus: @subtext0;
      --color-neutral-emphasis: @overlay2;
      --color-neutral-muted: fade(@overlay2, 40);
      --color-neutral-subtle: fade(@overlay2, 10);

      --color-accent-fg: @accent;
      --color-accent-emphasis: @accent;
      --color-accent-muted: fade(@accent, 40);
      --color-accent-subtle: fade(@accent, 15);

      --color-success-fg: @green;
      --color-success-emphasis: @green;
      --color-success-muted: fade(@green, 40);
      --color-success-subtle: fade(@green, 15);

      --color-attention-fg: @peach;
      --color-attention-emphasis: @peach;
      --color-attention-muted: fade(@peach, 40);
      --color-attention-subtle: fade(@peach, 15);

      --color-severe-fg: @maroon;
      --color-severe-emphasis: @maroon;
      --color-severe-muted: fade(@maroon, 40);
      --color-severe-subtle: fade(@maroon, 15);

      --color-danger-fg: @red;
      --color-danger-emphasis: @red;
      --color-danger-muted: fade(@red, 40);
      --color-danger-subtle: fade(@red, 15);

      --color-open-fg: @green;
      --color-open-emphasis: @green;
      --color-open-muted: fade(@green, 40);
      --color-open-subtle: fade(@green, 15);

      --color-closed-fg: @red;
      --color-closed-emphasis: @red;
      --color-closed-muted: fade(@red, 40);
      --color-closed-subtle: fade(@red, 15);

      --color-done-fg: @mauve;
      --color-done-emphasis: @mauve;
      --color-done-muted: fade(@mauve, 40);
      --color-done-subtle: fade(@mauve, 15);

      --color-sponsors-fg: @mauve;
      --color-sponsors-emphasis: @mauve;
      --color-sponsors-muted: fade(@mauve, 40);
      --color-sponsors-subtle: fade(@mauve, 15);

      --color-primer-fg-disabled: alpha(@accent, .5);
      --color-primer-canvas-backdrop: rgba(1, 4, 9, 0.8);
      --color-primer-canvas-sticky: rgba(13, 17, 23, 0.95);
      --color-primer-border-active: @accent;
      --color-primer-border-contrast: rgba(255, 255, 255, 0.2);
      --color-primer-shadow-highlight: 0 0 transparent;
      --color-primer-shadow-inset: 0 0 transparent;
      --color-primer-shadow-focus: 0 0 0 3px #0c2d6b;

      --color-workflow-card-connector: @overlay0;
      --color-workflow-card-connector-bg: @overlay0;
      --color-workflow-card-connector-inactive: @surface1;
      --color-workflow-card-connector-inactive-bg: @surface1;
      --color-workflow-card-connector-highlight: @accent;
      --color-workflow-card-connector-highlight-bg: @accent;
      --color-workflow-card-bg: @surface1;
      --color-workflow-card-inactive-bg: @surface0;
      --color-workflow-card-header-shadow: #dc2286;
      --color-workflow-card-progress-complete-bg: alpha(@blue, 0.15);
      --color-workflow-card-progress-incomplete-bg: @surface1;
      --color-discussions-state-answered-icon: var(--color-scale-green-3);
      --color-bg-discussions-row-emoji-box: var(--color-scale-gray-6);
      --color-notifications-button-text: var(--color-scale-white);
      --color-notifications-button-hover-text: var(--color-scale-white);
      --color-notifications-button-hover-bg: var(--color-scale-blue-4);
      --color-notifications-row-read-bg: var(--color-canvas-default);
      --color-notifications-row-bg: var(--color-canvas-subtle);
      --color-icon-directory: @text;
      --color-checks-step-error-icon: var(--color-scale-red-4);
      --color-calendar-halloween-graph-day-L1-bg: #631c03;
      --color-calendar-halloween-graph-day-L2-bg: #bd561d;
      --color-calendar-halloween-graph-day-L3-bg: #fa7a18;
      --color-calendar-halloween-graph-day-L4-bg: #fddf68;
      --color-calendar-graph-day-bg:  @surface0;
      --color-calendar-graph-day-border: transparent;

      /* These could do with a bit of refining */
      --color-calendar-graph-day-L1-bg: spin(rgba(@green, 40%), 15deg);
      --color-calendar-graph-day-L2-bg: spin(rgba(@green, 60%), 10deg);
      --color-calendar-graph-day-L3-bg: spin(rgba(@green, 80%), 5deg);
      --color-calendar-graph-day-L4-bg: @green;
      --color-calendar-graph-day-L1-border: transparent;
      --color-calendar-graph-day-L2-border: transparent;
      --color-calendar-graph-day-L3-border: transparent;
      --color-calendar-graph-day-L4-border: transparent;
      --color-user-mention-fg: var(--color-scale-yellow-0);
      --color-user-mention-bg: var(--color-scale-yellow-8);
      --color-text-white: @text;


      --color-underlinenav-icon: #6e7681;
      --color-underlinenav-border-hover: rgba(110, 118, 129, 0.4);
      --color-action-list-item-inline-divider: @surface2;
      --color-action-list-item-default-hover-bg:  @surface0;
      --color-action-list-item-default-hover-border: rgba(0, 0, 0, 0);
      --color-action-list-item-default-active-bg: rgba(177, 186, 196, 0.2);
      --color-action-list-item-default-active-border: rgba(0, 0, 0, 0);
      --color-action-list-item-default-selected-bg: @surface1;
      --color-action-list-item-danger-hover-bg: rgba(248, 81, 73, 0.16);
      --color-action-list-item-danger-active-bg: rgba(248, 81, 73, 0.24);
      --color-action-list-item-danger-hover-text: #ff7b72;
      --color-switch-track-bg: #010409;
      --color-switch-track-border: #6e7681;
      --color-switch-track-checked-bg: rgba(31, 111, 235, 0.35);
      --color-switch-track-checked-hover-bg: rgba(31, 111, 235, 0.5);
      --color-switch-track-checked-active-bg: rgba(31, 111, 235, 0.65);
      --color-switch-track-checked-border: #58a6ff;
      --color-switch-knob-checked-bg: #1f6feb;
      --color-switch-knob-checked-disabled-bg: #484f58;

    }



    /* Misc */

    ::selection { background: fade(@surface2, 50) !important; }

    .Header when (@accentedTopbar = 0) { border-bottom: 1px solid var(--color-border-muted); }

    .col-md-8 { background-color: @base; }

    #dashboard .Box {
      border-color: var(--color-canvas-inset);
      background-color: var(--color-canvas-overlay);
    }



    /* Buttons */

    .btn-danger,
    .Button--danger {
      background: var(--color-btn-danger-bg);
      &:hover {
        background: var(--color-btn-danger-hover-bg);
      }
    }

    /* Button Fix */
    .color-bg-subtle { background-color: transparent !important; }
    .command-palette-details-dialog .color-bg-subtle { background-color: @surface0 !important; }

    /* Button selection Fix */
    .navigation-item[aria-selected="true"] .color-fg-muted { color: @base !important; }

    /* New change visibility box star and watcher preview buttons Fix */
    .btn.color-fg-danger.cursor-default {
      background-color: var(--color-btn-danger-bg);
      color: var(--color-btn-danger-text) !important;
    }
    .btn.color-fg-danger.cursor-default:hover { background-color: var(--color-btn-danger-hover-bg); }
    .btn.color-fg-danger.cursor-default > svg.octicon { color: var(--color-btn-danger-text) !important; }

    /* New change visibility box danger buttons Fix */
    :where(#repo-visibility-proceed-button-public, #repo-visibility-proceed-button-private):not([data-next-stage]) {
      background-color: var(--color-btn-danger-bg);
      color: var(--color-btn-danger-text);
    }



    /* Labels */

    .Label {
      border-color: transparent;
      background-color: @surface0;
      color: var(--color-accent-fg);
    }

    .Label--secondary {
      background-color: @surface0;
      color: @text;
    }

    .Label--success {
      background-color: @green;
      color: @base;
    }

    .Label--danger {
      background-color: var(--color-danger-emphasis);
      color: var(--color-btn-danger-text);
    }

    .timeline-comment-header .Label,
    .timeline-comment .Label { color: var(--color-fg-muted); }



    /* Search */

    .header-search-input { color: @text !important; }
    .header-search-input::placeholder { color: @subtext1 !important; }



    /* Tags */

    .topic-tag {
      --color-accent-fg: @blue;
      --color-accent-emphasis: @blue;
      --color-accent-muted: fade(@blue, 40);
      --color-accent-subtle: fade(@blue, 15);
    }



    /* Large notification */

    .flash {
      border-color: transparent;
      background-color: @mantle;
    }



    /* Headers */

    h1 { color: @accent; }
    h2, h3, h4, h5, h6 { color: @subtext1; }

    #check-step-header-title { color: var(--color-checks-text-link) !important; }



    /* 2FA authentication box header Fix */

    body.session-authentication div.Box-header { background-color: inherit; }

  }


  [data-color-mode="light"][data-light-theme="light"] { #catppuccin(@lightFlavour, @accentColour); }
  [data-color-mode="dark"][data-dark-theme="dark"]    { #catppuccin(@darkFlavour,  @accentColour); }

} /* /@-moz-document */
